MODEL_A_NAME="Llama 3.2 1B"
MODEL_A_URL="http://localhost:8081"
MODEL_B_NAME="Qwen 3 0.6B"
MODEL_B_URL="http://localhost:8082"
MODEL_C_NAME="Llama 3 8B"
MODEL_C_URL="http://localhost:8083"
MODEL_D_NAME="Qwen 3 4B"
MODEL_D_URL="http://localhost:8084"
PORT=3000
